.App {
  text-align: center;
  background-color: rgb(245,245,245);
  background-position: bottom right;
}

@font-face {
font-family: "Avaraa";
src: url("fonts/Avara-Black.otf");
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}  
