.App {
  text-align: center;
  background: url("images/decay41.jpg");
  background-size: cover;
}

@font-face {
font-family: "Avaraa";
src: url("fonts/Avara-Black.otf");
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}  
