.App {
  text-align: center;
  background-size:cover;
}

@font-face {
font-family: "Avaraa";
src: url("fonts/Avara-Black.otf");
}

@font-face {
font-family: "Varta";
src: url("fonts/Varta-Medium.ttf");
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}  
